body{
	padding-left : 5em;
	font-family : georagia,"Times New Romen",Times,serif;
	color : 660033;
}

	h4 {
		font-family : courier;
		font-color : 660033;
		font-size : 400%;
	}
	
	a{
		font-family : Impact;
		font-style: italic;
		font-size : 200%;
	}
}

table.functions{
	text-align: center;
	font-size: 22;
	border: 2px solid black;
}

